.header {
    display: flex;
    flex-direction: row;
    box-shadow: 3px 5px 10px 1px rgb(17 17 17 / 30%);
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 100px;
}

.logo-page {
    display: flex;
    width: 120px;
    height: 60px;
    left: 2%;
    top: 4%;
    background-image: url("../img/logo.png");
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}

li {
    list-style-type: none;
    margin: 10px;
}